<ng-container>
  Test
<!--  <div class="canvas"-->
<!--       [style.top]="$mouseEvent(event.sourceEvent).screenY"-->
<!--       [style.left]="$mouseEvent(event.sourceEvent).screenX"-->
<!--  >-->
<!--    <a class="title">{{event.event.title}}</a>-->
<!--    <div class="row">-->
<!--      <biit-icon name="user_single"></biit-icon>-->
<!--      <a>{{event.event.meta.speakers | userNameList: speakers}}</a>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <biit-icon name="user_single"></biit-icon>-->
<!--      <a>{{event.event | eventCardDate}}</a>-->
<!--    </div>-->
<!--  </div>-->
</ng-container>
