<ng-container *transloco="let t">
  <div class="form-canvas">
    <biit-tab-group>
      <biit-tab [name]="t('form.google')">
        <div class="row">
          {{ t('form.introduction') }}
        </div>
        <div class="row-double" style="margin-top: 3rem">
          <button id="googleLoginButton" [disabled]="credentialsExists" class="buttons" biit-button primary
                  (click)="triggerGoogleOathRequest()">
            {{ t('form.connect') }}
          </button>
          <button class="buttons" [disabled]="credentialsExists!=undefined && !credentialsExists" biit-button secondary
                  (click)="disconnectFromGoogle()">
            {{ t('form.disconnect') }}
          </button>
        </div>
      </biit-tab>
      <biit-tab [name]="t('form.microsoft')">
        <div class="row" *ngIf="msCredentialsExists==undefined || !msCredentialsExists">
          {{ t('form.introductionMS') }}
        </div>
        <div class="row" *ngIf="msCredentialsExists!=undefined && msCredentialsExists">
          {{ t('form.introductionMS-already-connected') }}
        </div>
        <div class="row-double" style="margin-top: 3rem">
          <button id="MsLoginButton" [disabled]="msCredentialsExists" class="buttons" biit-button primary
                  (click)="triggerMsOauthRequest()">
            {{ t('form.connect') }}
          </button>
          <button class="buttons" [disabled]="msCredentialsExists!=undefined && !msCredentialsExists" biit-button secondary
                  (click)="disconnectFromMS()">
            {{ t('form.disconnect') }}
          </button>
        </div>
      </biit-tab>
    </biit-tab-group>
  </div>
</ng-container>
