<ng-container *transloco="let t">
  <biit-progress-bar *ngIf="waiting" [type]="BiitProgressBarType.INDETERMINATE"></biit-progress-bar>
  <div class="canvas">
    <div class="main">
        <biit-calendar [events]="events"
                       [calendarMode]="CalendarMode.WEEK"
                       [configuration]="calendarConfiguration"
                       [calendarUtility]="calendarUtility"
                       (onCreatedEvent)="onEventChange($event)"
                       [eventContextMenu]="eventMenu"
        ></biit-calendar>
    </div>
  </div>
  <context-menu #eventMenu>
    <ng-template contextMenuItem
                 *ngIf="Permission.APPOINTMENT.DELETE | hasPermission"
                 (execute)="onDeleteEvent($event.value)">
      {{ t('app.delete_appointment') }}
    </ng-template>
  </context-menu>

</ng-container>
