<div class="canvas">
  <div class="sidebar">
    <div class="workshops">
      <div class="top">
        <a>Workshops</a>
        <button biit-icon icon="plus"></button>
        <button biit-icon icon="minus"></button>
      </div>
      <div class="middle">

      </div>
      <div class="bottom">
        <biit-input-text placeholder="Search"></biit-input-text>
      </div>
    </div>
    <biit-datepicker calendar-mode
                     class="mini-calendar"
                     [(ngModel)]="viewDate"
    ></biit-datepicker>
  </div>
  <div class="main">
    <div class="top">
      <div class="left">
        <a>September 2023</a>
        <button biit-icon icon="plus" (click)="onAddAppointment()"></button>
        <button biit-icon icon="minus"></button>
        <button biit-icon icon="edit"></button>
      </div>
      <div class="right">

      </div>
    </div>
    <biit-calendar [events]="events"
                   [viewDate]="viewDate"
                   [calendarMode]="CalendarMode.WEEK"
                   (onEventDrop)="onEventDrop($event)"
                   (onEventClick)="targetEvent = $event.event"
    ></biit-calendar>
  </div>
</div>

<biit-popup sixty-view closable
            *ngIf="targetEvent"
            (onClosed)="targetEvent = undefined"
            title="{{targetEvent.id ? ('app.edit_appointment'|transloco) : ('app.create_appointment'|transloco)}}"
>
  <appointment-form [event]="targetEvent"
                    (onSaved)="targetEvent = undefined; nextData();"
                    style="width: 100%"
  ></appointment-form>
</biit-popup>
