<ng-container *transloco="let t">
  <biit-progress-bar *ngIf="waiting" [type]="BiitProgressBarType.INDETERMINATE"></biit-progress-bar>
  <div id="canvas" class="canvas">
    <div class="sidebar">
      <div id="workshops" class="workshops">
        <div class="top">
          <a
            *ngIf="[Permission.APPOINTMENT_CENTER.ADMIN, Permission.APPOINTMENT_CENTER.MANAGER] | hasPermission">{{ t('app.workshops') }}</a>
          <a
            *ngIf="!([Permission.APPOINTMENT_CENTER.ADMIN, Permission.APPOINTMENT_CENTER.MANAGER] | hasPermission) && workshopMode == WorkshopMode.ALL_WORKSHOPS">{{ t('app.ALL_WORKSHOPS') }}</a>
          <a
            *ngIf="!([Permission.APPOINTMENT_CENTER.ADMIN, Permission.APPOINTMENT_CENTER.MANAGER] | hasPermission) && workshopMode == WorkshopMode.OTHER_WORKSHOPS">{{ t('app.OTHER_WORKSHOPS') }}</a>
          <a
            *ngIf="!([Permission.APPOINTMENT_CENTER.ADMIN, Permission.APPOINTMENT_CENTER.MANAGER] | hasPermission) && workshopMode == WorkshopMode.MY_WORKSHOPS">{{ t('app.MY_WORKSHOPS') }}</a>
          <button biit-icon id="add-workshop-button"
                  icon="plus"
                  *ngIf="Permission.WORKSHOP.CREATE | hasPermission"
                  (click)="onAddWorkshop()"
          ></button>
        </div>
        <div class="middle"
             mwlDroppable
             dragOverClass="drag-over">
          <div *ngFor="let workshop of filteredWorkshops"
               class="workshop"
               [ngStyle]="workshop.colorTheme ? eventStyles(workshop.colorTheme | colorTheme) : eventStyles(EventColor.RED)"
               (click)="mousePosition = $mouseEvent($event); openWorkshopCard(workshop)"
               mwlDraggable
               [dropData]="{event: workshop}"
               [touchStartLongPress]="{ delay: 300, delta: 30 }"
               dragActiveClass="drag-active"
               [contextMenu]="workshopMenu"
               [contextMenuValue]="workshop"
               [validateDrag]="workshopDragValidation"
          >
            <a class="duration">{{ workshop.duration | timeDuration }}</a>
            <a class="title">{{ workshop.title }}</a>
            <a class="speakers">{{ workshop.speakers | userNameList: organizationUsers }}</a>
            <div [style.opacity]="$any(workshop).subscribed ? '1' : '0'"
                 class="subscribed">
              <a>{{ t('app.subscribed') }}</a>
              <biit-icon [name]="'thick'"
                         [pathStyle]="{fill:workshop.colorTheme ? (workshop.colorTheme | colorTheme).tertiary : eventStyles(EventColor.RED)}"
                         style="display: block; height: 0.6rem; width: 0.6rem"
              ></biit-icon>
            </div>
            <button biit-icon
                    *ngIf="!([Permission.APPOINTMENT_CENTER.ADMIN, Permission.APPOINTMENT_CENTER.MANAGER] | hasPermission)"
                    [icon]="selectedWorkshops.has(workshop) ? 'show' : 'hide'"
                    class="eye"
                    [class.show]="selectedWorkshops.has(workshop)"
                    [ngStyle]="workshop.colorTheme ? eventStyles(workshop.colorTheme | colorTheme) : eventStyles(EventColor.RED)"
                    (click)="workshopSelectionHandler(workshop); $event.stopPropagation()"
            ></button>
          </div>
        </div>
        <div class="bottom">
          <biit-input-text id="search" [(ngModel)]="search"
                           (onActionPerformed)="filterWorkshops();"
                           (focusout)="resetInputValue()"
                           icon="search"
                           [placeholder]="t('app.search')"
          ></biit-input-text>
          <biit-dropdown compact
                         *ngIf="!([Permission.APPOINTMENT_CENTER.ADMIN, Permission.APPOINTMENT_CENTER.MANAGER] | hasPermission)"
                         [icon]="'column_selection'"
                         [ngModel]="workshopMode | dropdownInterface: translatedWorkshopModes"
                         (ngModelChange)="workshopMode = $event.value; selectedWorkshops.clear(); loadWorkshops(); loadEvents();"
                         [data]="translatedWorkshopModes"
                         [label]="'label'"
                         [value]="'value'"
          ></biit-dropdown>
        </div>
      </div>
      <biit-datepicker calendar-mode
                       class="mini-calendar"
                       [(ngModel)]="viewDate"
      ></biit-datepicker>
    </div>
    <div class="main">
      <div class="top">
        <div class="left">
          <a>
            {{ viewDate | translocoDate: {month: 'long'} }}
            {{ viewDate | translocoDate: {year: 'numeric'} }}
          </a>
          <button biit-icon id="add-appointment"
                  icon="plus"
                  *ngIf="Permission.APPOINTMENT.CREATE | hasPermission"
                  (click)="onAddAppointment()"
          ></button>
          <button biit-icon id="link-calendar"
                  icon="linkage"
                  *ngIf="Permission.APPOINTMENT.SYNCHRONIZE | hasPermission"
                  (click)="onSynchronize3rdParty()"
          ></button>
        </div>
        <div class="right">
          <div style="display: flex; gap: 0.5rem">
            <button biit-icon
                    [icon]="'right_arrow'"
                    (click)="moveBackward()"
                    style="rotate: 180deg"></button>
            <button biit-button tertiary
                    (click)="moveToToday()"
                    style="font-size: 1.1em">{{ t('app.today') }}
            </button>
            <button biit-icon
                    [icon]="'right_arrow'"
                    (click)="moveForward()"></button>
          </div>
        </div>
      </div>
      <biit-calendar id="calendar" [events]="events"
                     [viewDate]="viewDate"
                     [calendarMode]="CalendarMode.WEEK"
                     [gridContextMenu]="gridMenu"
                     [eventContextMenu]="eventMenu"
                     (onEventDrop)="onEventChange($event)"
                     (onEventClick)="mousePosition = $mouseEvent($event.sourceEvent); cardEvent = $event.event"
      ></biit-calendar>
    </div>
  </div>

  <biit-popup sixty-view closable id="appointment-popup"
              *ngIf="targetEvent && ([Permission.APPOINTMENT.CREATE, Permission.APPOINTMENT.EDIT] | hasPermission)"
              (onClosed)="targetEvent = undefined; targetEventTemplate = undefined;"
              title="{{targetEvent.id ? t('app.edit_appointment') : t('app.create_appointment')}}"
  >
    <appointment-form [event]="targetEvent"
                      [template]="targetEventTemplate"
                      [organizationUsers]="organizationUsers"
                      (onSaved)="targetEvent = undefined; targetEventTemplate = undefined; loadEvents();"
                      style="width: 100%"
    ></appointment-form>
  </biit-popup>

  <biit-popup id="workshop-popup" sixty-view closable
              *ngIf="targetWorkshop && ([Permission.WORKSHOP.CREATE, Permission.WORKSHOP.EDIT] | hasPermission)"
              (onClosed)="targetWorkshop = undefined"
              title="{{targetWorkshop.id ? t('app.edit_workshop') : t('app.create_workshop')}}"
  >
    <workshop-form [workshop]="targetWorkshop"
                   [organizationUsers]="organizationUsers"
                   (onSaved)="targetWorkshop = undefined;
                              onUpdateWorkshop($event);"
                   style="width: 100%"
    ></workshop-form>
  </biit-popup>


  <biit-popup id="synchronize-calendar-popup" sixty-view closable
              *ngIf="synchronizeCalendar && ([Permission.APPOINTMENT.SYNCHRONIZE] | hasPermission)"
              (onClosed)="synchronizeCalendar = false; refresh3rdPartyEvents()"
              title="{{t('app.synchronize_with_external_calendar')}}"
  >
    <external-calendar-form
      style="width: 100%"
    ></external-calendar-form>
  </biit-popup>


  <biit-popup id="delete-event-popup" closable no-header
              *ngIf="deleteEvent && (Permission.APPOINTMENT.DELETE | hasPermission)"
              (onClosed)="deleteEvent = undefined"
  >
    <div style="width: 100%; display: flex; align-items: center; flex-direction: column; gap: 2em;">
      <a>
        {{ t('app.delete_appointment_confirm') }}
      </a>
      <div style="display: flex; gap: 3em">
        <button id="confirm-event-cancel-button" biit-button tertiary (click)="deleteEvent = undefined">
          {{ t('app.cancel') }}
        </button>
        <button id="confirm-event-delete-button" biit-button (click)="onDeleteAppointment()">
          {{ t('app.delete') }}
        </button>
      </div>
    </div>
  </biit-popup>

  <biit-popup id="delete-workshop-popup" closable no-header
              *ngIf="deleteWorkshop && (Permission.WORKSHOP.DELETE | hasPermission)"
              (onClosed)="deleteWorkshop = undefined"
  >
    <div style="width: 100%; display: flex; align-items: center; flex-direction: column; gap: 2em;">
      <a>
        {{ t('app.delete_workshop_confirm') }}
      </a>
      <div style="display: flex; gap: 3em">
        <button id="confirm-cancel-button" biit-button tertiary (click)="deleteWorkshop = undefined">
          {{ t('app.cancel') }}
        </button>
        <button id="confirm-delete-button" biit-button (click)="onDeleteWorkshop()">
          {{ t('app.delete') }}
        </button>
      </div>
    </div>
  </biit-popup>

  <context-menu #gridMenu>
    <ng-template id="create-appointment-menu-option" contextMenuItem
                 *ngIf="Permission.APPOINTMENT.CREATE | hasPermission"
                 (execute)="onAddAppointment($event.value)">
      {{ t('app.create_appointment') }}
    </ng-template>
  </context-menu>

  <context-menu #eventMenu id="appointment-context-menu">
    <ng-template id="edit-appointment-menu-option" contextMenuItem
                 *ngIf="Permission.APPOINTMENT.EDIT | hasPermission"
                 [disabled]="isReadOnly"
                 (execute)="targetEvent = $event.value">
      {{ t('app.edit_appointment') }}
    </ng-template>
    <ng-template id="delete-appointment-menu-option" contextMenuItem
                 *ngIf="Permission.APPOINTMENT.DELETE | hasPermission"
                 [disabled]="isReadOnly"
                 (execute)="deleteEvent = $event.value">
      {{ t('app.delete_appointment') }}
    </ng-template>
  </context-menu>

  <context-menu #workshopMenu id="workshop-context-menu">
    <ng-template id="edit-workshop-menu-option" contextMenuItem
                 *ngIf="Permission.WORKSHOP.EDIT | hasPermission"
                 (execute)="targetWorkshop = $event.value">
      {{ t('app.edit_workshop') }}
    </ng-template>
    <ng-template id="delete-workshop-menu-option" contextMenuItem
                 *ngIf="Permission.WORKSHOP.DELETE"
                 (execute)="deleteWorkshop = $event.value">
      {{ t('app.delete_workshop') }}
    </ng-template>
  </context-menu>

  <event-card id="event-card" *ngIf="cardEvent"
              class="event-card"
              [style.top]="(mousePosition?.y > window.innerHeight - 180 ? mousePosition?.y - 180 : mousePosition?.y) + 'px'"
              [style.left]="(mousePosition?.x - 11.75*16) + 'px'"
              [event]="cardEvent"
              [organizationUsers]="organizationUsers"
              [subscribed]="sessionService.getUser().uuid | includesString: cardEvent.meta.attendees"
              (onSubscribe)="onSubscribeAppointment(+cardEvent.id); cardEvent = undefined;"
              (onUnsubscribe)="onUnsubscribeAppointment(+cardEvent.id); cardEvent = undefined;"
              (onEdit)="targetEvent = cardEvent; cardEvent = undefined;"
              (onClosed)="cardEvent = undefined"
  ></event-card>

  <workshop-card id="workshop-card"
                 *ngIf="cardWorkshop"
                 class="event-card"
                 [style.top]="mousePosition?.y + 10 + 'px'"
                 [style.left]="mousePosition?.x + 'px'"
                 [workshop]="cardWorkshop"
                 [speakersLabel]="cardWorkshop.speakers | userNameList: organizationUsers"
                 [subscribedEvents]="cardWorkshopSubs"
                 (onNextDate)="onWorkshopNextDate($event)"
                 (onClosed)="cardWorkshop = undefined; cardWorkshopSubs = undefined;"
  ></workshop-card>
</ng-container>
