<div id="navbar">
  <div class="left">
    <biit-nav-menu [routes]="routes"
    ></biit-nav-menu>
  </div>
  <div class="right">
    <biit-nav-user *ngIf="user"
                   [title]="user?.name + ' ' + user?.lastname"
                   [subtitle]="'Appointment Center'"
                   (click)="onContextMenu($event)"
                   #navUser
    ></biit-nav-user>
  </div>
</div>

<context-menu #contextMenu dir="rtl">
  <ng-template contextMenuItem
               *transloco="let t"
               (execute)="router.navigate([Constants.PATHS.SCHEDULE])">
    {{ t('t.schedule') }}
  </ng-template>
  <ng-template contextMenuItem
               *transloco="let t"
               (execute)="router.navigateByUrl('/login?logout')">
    {{ t('t.logout') }}
  </ng-template>
</context-menu>
