<div id="navbar">
  <div class="left">
    <biit-icon [name]="'calendar'"
               [pathStyle]="{fill: '#F20D5E'}"
               style="display: block; width: 1.3rem; height: 1.3rem;"
    ></biit-icon>
    <biit-nav-menu [routes]="routes"
    ></biit-nav-menu>
  </div>
  <div class="right">
    <biit-nav-user *ngIf="user"
                   [title]="user?.name + ' ' + user?.lastname"
                   [subtitle]="'Appointment Center'"
                   (click)="router.navigateByUrl('/login?logout')"
    ></biit-nav-user>
  </div>
</div>
