<div id="navbar">
  <div class="left">
    <biit-nav-menu [routes]="routes"
    ></biit-nav-menu>
  </div>
  <div class="right" id="appointmentcenter-menu">
    <biit-component-menu/>
    <biit-nav-user *ngIf="user"
                   [title]="user?.name + ' ' + user?.lastname"
                   [subtitle]="'Appointment Center'"
                   (click)="onContextMenu($event)"
                   #navUser
    ></biit-nav-user>
  </div>
</div>

<context-menu #contextMenu dir="rtl">
  <ng-template contextMenuItem
               *transloco="let t"
               (execute)="router.navigate([Constants.PATHS.SCHEDULE])">
    {{ t('t.schedule') }}
  </ng-template>
  <ng-template contextMenuItem
               *transloco="let t"
               (execute)="router.navigateByUrl('/login?logout')">
    <span id="appointmentcenter-menu-logout">
    {{ t('t.logout') }}
      </span>
  </ng-template>
</context-menu>
